@{
    ViewBag.Title = "Contact";
}
<h2>Контакт</h2>


<address>
    Скопје<br />
    Диме Анцин, 13<br />
    <abbr title="Телефонски врој">Телефонски број:</abbr>
    (+389)77111222
</address>

<address>
    <strong>Подршка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>