@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:royalblue">М3Н</h1>
    <p class="lead">Вработи се или вработи, најбрзо и најефикасно</p>
    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg" style="height:50%"/>
</div>

<div class="container" style=" width: 70%;font-weight:bold;font-family:Arial, Helvetica, sans-serif">
    <div >
        М3Н е многу повеќе од платформа за барање работа. Успехот на М3Н лежи
        во безрезервната поддршка пружена од тимот кој неуморно работи со цел да овозможи најлесен и најефективен процес на
        вработување за:
    </div>
    <div style="color:royalblue">
        - Барателите на работа, пракса и нови можности за напредок во кариерата; и
    </div>
    <div style="color:royalblue">
        - Компаниите кои се во потрага по квалификувани кандидати.
    </div>
    <br/>
    <br/>
    <div >
        За Работобарателите: Ние сме секогаш тука за вас за да ви ги претставиме најновите огласи за вработување, да ве едуцираме за целосниот процес за барање работа и да ве насочиме како да бидете конкурентни на пазарот на трудот и притоа да го направите најдобриот избор.
    </div>
    <div >
        За Работодавачите: Ние сме секогаш тука за вас за да ви помогнеме да најдете висококвалификуван
        кадар и да споделиме со вас совети и насоки за најдобри практики за вработување и задржување на вработените.
    </div>
 </div>
