@{
    ViewBag.Title = "Home Page";
}


<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:35%;width:100%" src="https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>Најди работа или пак вработи на најбрз и најефикасен начин</h3>

            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:35%;width:100%" src="https://cdn.pixabay.com/photo/2014/05/02/21/50/home-office-336378_960_720.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Пријави се!</h3>

            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:35%;width:100%" src="https://cdn.pixabay.com/photo/2014/05/03/01/03/macbook-336704_960_720.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Креирај сопствен оглас!</h3>

            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>
<br />
<br />
<div class="container" style="        width: 100%;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif'Roboto Condensed', sans-serif">
    <div >
        М3Н е многу повеќе од платформа за барање работа. Успехот на М3Н лежи
        во безрезервната поддршка пружена од тимот кој неуморно работи со цел да овозможи најлесен и најефективен процес на
        вработување за:
    </div>
    <div style="color:royalblue">
        - Барателите на работа, пракса и нови можности за напредок во кариерата; и
    </div>
    <div style="color:royalblue">
        - Компаниите кои се во потрага по квалификувани кандидати.
    </div>
    <div >
        За Работобарателите: Ние сме секогаш тука за вас за да ви ги претставиме најновите огласи за вработување, да ве едуцираме за целосниот процес за барање работа и да ве насочиме како да бидете конкурентни на пазарот на трудот и притоа да го направите најдобриот избор.
    </div>
    <div >
        За Работодавачите: Ние сме секогаш тука за вас за да ви помогнеме да најдете висококвалификуван
        кадар и да споделиме со вас совети и насоки за најдобри практики за вработување и задржување на вработените.
    </div>
 </div>
